<footer>
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <h3>Accessibility</h3>
                    <ul class="list-group">
                        <li><a href="http://[SERVERNAME]">Accessibility Help</a></li>
                        <li><a href="http://[SERVERNAME]">Accessibility Resource Center</a></li>
                        <li><a href="http://[SERVERNAME]">Accommodation and Accessibility Information Directory</a></li>
                        <li><a href="http://[SERVERNAME]">EWD Resource Gateway</a></li>
                        <li><a href="http://[SERVERNAME]">Headquartes Advisory Council for EWD</a></li>
                    </ul>
                </div>
                <div class="col-xs-4">
                    <h3>Emergency</h3>
                    <ul class="list-group">
                        <li><a href="http://[SERVERNAME]">Emergency Numbers</a></li>
                        <li><a href="http://[SERVERNAME]">Emergency Preparedness</a></li>
                        <li><a href="http://[SERVERNAME]">Field Office Occupant</a></li>
                        <li><a href="http://[SERVERNAME]">Headquarters Hazardous Weather</a></li>
                        <li><a href="http://[SERVERNAME]">Headquarters Occupant</a></li>
                        <li><a href="http://[SERVERNAME]">Medical Emergency Numbers</a></li>
                    </ul>
                </div>
                <div class="col-xs-4">
                    <h3>Help</h3>
                    <ul class="list-group">
                        <li><a href="http://[SERVERNAME]">Contact Us</a></li>
                        <li><a href="https://[SERVERNAME]">Field Office Locator</a></li>
                        <li><a href="http://[SERVERNAME]">Hardware, Software, Network Problems</a></li>
                        <li><a href="[SERVERNAME]">Help Desks and Support Areas</a></li>
                        <li><a href="http://[SERVERNAME]/">Organization</a></li>
                        <li><a href="http://[SERVERNAME]">Phone Directories</a></li>
                        <li><a href="http://[SERVERNAME]">Search</a></li>
                        <li><a href="http://[SERVERNAME]">Sitemap</a></li>
                        <li><a href="http://[SERVERNAME]">Technology Assistance Center</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; 2016 -  Developed and Maintained by:<a class="no-icon" href="mailto:[EMAIL_ADDRESS]"> [PERSON_NAME]</a> <br />
                    Electornic Sign-in Application 3.0
                </div>
            </div>
        </div>
    </div>
</footer>
