
@{
    ViewBag.Title = "RedirectInfo";
    Layout = "~/Views/Shared/_SignInLayout.cshtml";
}

<header id="redirect">
    <br/><br/><br/>

  <h3> We have migrated to a new, improved version of the <a href="http://[SERVERNAME]/" id="linktoApp" title="Electronic Sign-In application">Electronic Sign-In application</a>. </h3>
    <br/>
    <h3>If you are looking for a report of the attendance from a past meeting,<br/> please contact <a id="contact" title="Contact us by Email" href="mailto:[EMAIL_ADDRESS]?Subject=Electronic Sign in Sheet" target="_self">^EA Support</a> with the meeting details.</h3>
    </header>